# Public
PUBLIC_APP_NAME = OHMYBEER
PUBLIC_APP_DOMAIN = ohmybeer.ru
PUBLIC_APP_URL = https://ohmybeer.ru

# price
PRIVATE_PRICE_URL = https://taps.gainup.ru/OHMYBEER
PRIVATE_PRICE_TITLE = OH MY BEER!

# untappd
PRIVATE_UNTAPPD_API_URL = https://api.untappd.com/v4
PRIVATE_UNTAPPD_CLIENT_ID =
PRIVATE_UNTAPPD_CLIENT_SECRET =
PRIVATE_UNTAPPD_ACCESS_TOKEN =
