# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# dev data
.data/

# site data
src/data/

# dependencies
node_modules/

# Miscellaneous
static/

# tests
test-results/
